.heading {
  font-family: 'Space Mono', monospace;
  z-index: 3;
  position: absolute;
  top: 30px;
  left: 20px;
  color: white;
}

.calendlyContainer {
  display: flex;
  justify-content: center;
  z-index: 1000;
  padding-top: 20vh;
  position: relative;
}

.galaxyContainer {
  position: fixed;
  top: 0;
}